<h1>{{'DOCUMENTS' | translate}}</h1>
<div class="alert alert-danger" ng-show="controller.error">
    Error: {{controller.error}}
</div>
<div ng-show="authenticated" ng-repeat="month in controller.months">

	<div class="panel panel-default">
	  <div class="panel-heading">{{month.monthName}} {{month.year}} <span class="badge">{{month.documentsCount}}</span></div>
	  <!-- List group -->
	  <ul class="list-group" ng-repeat="doc in month.documents">
	    <li class="list-group-item">	    	
			<strong style="color: {{ month.monthNumber != doc.monthNumber ? 'red' : '' }}">{{doc.formatedDeadline}}</strong>
			  	{{doc.name}}	    
			    <span class="label label-{{doc.projectColor}}">{{doc.projectName}}</span>
			    <span class="label label-default">{{doc.assignee}}</span>
			    <button class="btn btn-default pull-right btn-xs " 
			       ng-click="controller.finishDocument(doc, month);">Finish</button>
	    </li>
	  </ul>	  
	</div>
	
    
</div>

<!-- <ul class="list-group">
        <li class="list-group-item" ng-repeat="document in controller.documents">{{document.id}}: {{document.name}}</li>
    </ul> -->

<div  ng-show="!authenticated">
    <p>Log in for viewing the documents</p>
</div>