<link href="css/employees.css" rel="stylesheet" type="text/css" />

<div ng-show="authenticated">
	
	<div class="row">
		
		<!-- List -->		
		<div class="col-md-4 employee-list">
			<h1>{{"EMPLOYEES" | translate}}</h1>
			<div class="alert alert-danger" ng-show="controller.error">
			    Error: {{controller.error}}
			</div>
			<div class="form-inline">			
				<label for="name_filter">{{"FILTER" | translate}}: </label>
				<input name="name_filter" class="form-control" type="text" ng-model="searchText"/>
				<br/><br/>
			</div>
			<ul class="list-group" >
				<li class="list-group-item {{ employee.name == controller.selectedEmployee.name ? 'list-group-item-info' : '' }}" 
					ng-repeat="employee in controller.employees | filter:searchText">
					
					<a href="#/employees/{{employee.id}}" >{{ employee.name }}</a>
				</li>
			</ul>
		</div>
		
		<!-- Details -->
		<div class="col-md-8">
			 <h2>{{ controller.selectedEmployee.name }}</h2>
		</div>
	</div>
	
</div>
